<div class="footer-distributed">
  <hr>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-xs-6 footer_item">
      <div class="footer-links">
        <h2>NAVIGATION</h2>
        <a routerLink="home">Accueil</a>
        <a routerLink="/observations/list">Observations</a>
        <a routerLink="/observateursList">Contributeurs</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 footer_item">
      <div class="footer-links">
        <h2>APPLICATION</h2>
        <a href="https://play.google.com/store/apps/details?id=fr.mnhn.inpnespeces">Google Play</a>
        <a href="https://itunes.apple.com/fr/app/inpn-especes/id1111609919?l=fr&ls=1&mt=8">Apple Store</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 footer_item">
      <div class="footer-links">
        <h2>INFORMATIONS</h2>
        <a>Mentions légales</a>
        <a>Partenaires</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 footer_item">
      <div class="footer-links">
        <h2>SUIVEZ NOUS</h2>
        <div>
          <img class="picto" src="../assets/imgs/logofb.png" alt="">
          <img class="picto" src="../assets/imgs/logotw.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
