<div *ngIf="isValidator" class="container-fluid">
    <ngb-tabset>
        <ngb-tab *ngIf="photoValidator" id="photoValidation" title="Validation photo">
          <ng-template ngbTabContent>
              <app-gallery-thumbnail [currentUser]="currentUser"></app-gallery-thumbnail> 
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="grpSimpleValidator" id="simpleValidation" title="Validation groupe simple">
          <ng-template ngbTabContent>
              <app-observations-list [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_GRSIMPLE'"  ></app-observations-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="grpTaxoValidator" id="taxoValidation" title="Validation groupe taxonomique">
          <ng-template ngbTabContent>
              <app-observations-list [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_GROPE'"></app-observations-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="especeValidator" id="especeValidation" title="Validation espèce">
            <ng-template ngbTabContent>
                <app-observations-list [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_EXPERT'"></app-observations-list>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>     
</div>
<div *ngIf="!isValidator">l'utilisateur n'a pas de rôle de validateur</div>