.filter-card {
  background-color: #999999;
  padding: 0px 60px;
  border-radius: 0
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px
}

.calendar {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-circle {
  color: white;
  border-color: white;
  width: 48px;
  height: 48px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 1.42857;
  margin: 0 5px
}

.btn-circle:focus {
  color: #85ef95;
  border-color: #85ef95;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px #85ef95;
  background-color: transparent
}

.btn-selected {
  color: #71cb7f;
  border-color: #71cb7f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #71cb7f;
  background-color: transparent
}

.label-filtre {
  padding-top: 8px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.row-filter {
  margin: 0;
  margin-bottom: 10px;
  display: flex
}

.row {
  padding: 5px 0
}
.btn-filter{
  margin-left: 10px
}
.form-control {
  background-color: #f9f9f9 !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #529696;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.3rem;
  height: 1.3rem;
}

.custom-control-label {
  padding-top: 4px;
  padding-left: 6px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.custom-control-label:before {
  background-color: #f9f9f9;
}
