<ngx-spinner size="large" type="ball-grid-beat"></ngx-spinner>

<div *ngIf="photosLoaded" class="container-fluid">
  <div class="row ">
    <div *ngFor="let photo of photos" class=" col-lg-2 col-md-4 col-xs-6 thumb ">
      <div class="thumbnail" (click)="openLargePhoto(largePhoto,photo)">
        <div *ngIf="photo.isValidated=='true' && photo.isTreated=='true'" class="tag valid-tag">
          <span class="icon-cheked"></span>
        </div>
        <div *ngIf="photo.isValidated=='false' && photo.isTreated=='true'" class="tag invalid-tag">
          <span class="icon-refuse"></span>
        </div>
        <button *ngIf="photo.isTreated=='false'" class="btn btn-success btn-list" (click)="quickValidate($event,photo.cdPhoto,idValidateur,'true')">
          <span class="icon-cheked"></span>
        </button>
        <button *ngIf="photo.isTreated=='false'" class="btn btn-danger btn-list btn-right" (click)="invalidPhoto($event,photo,modalInvalidPhoto)">
          <span class="icon-refuse"></span>
        </button>
        <button  class="btn btn-qualif" (click)="qualiferPhoto($event,photo,modalQualifPhoto)">
          <span class="icon-star" [style.color]=photo.icon_Qualif_Color></span>
        </button>
        <div class="thumb-img " [style.background-image]="'url(' + photo.thumbnailFileUri + ')'"></div>

      </div>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [maxSize]="5" [pageSize]="nbItems"
    [(page)]="currentPage" (pageChange)="loadPage($event)"></ngb-pagination>
  <button class="btn btn-secondary btn-help" (click)="openHelp(helpModal)">
    <span class="icon-flottant2"></span>
  </button>
</div>



<ng-template #largePhoto let-c="close" let-d="dismiss">
  <div class="modal-body">
    <img src="{{selectedPhoto.inpnFileUri}}">
  </div>
</ng-template>


<ng-template #modalInvalidPhoto let-c="close" let-d="dismiss">
  <div class="container">
    <div class="modal-body">
        <form [formGroup]="invalidForm">
        <div class="form-group">
          <label for="qualif" class="form-control-label qualif-label">Qualification de la photo</label>
          <select #qualif  formControlName="qualif" class="form-control">
            <option *ngFor="let item of qualifications" value="{{item.cdRef}}">{{item.lbRef}}</option>
          </select>
        </div>
      </form>
      <div class="flex-btn">
        <button class="btn btn-secondary btn-modal" (click)="validatePhoto('false',qualif.value)">
          Valider
        </button>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #modalQualifPhoto let-c="close" let-d="dismiss">
  <div class="modal-body">
      <img src="{{selectedPhoto.inpnFileUri}}">
    </div>
    <div class="modal-footer">
      <form class="container" [formGroup]="qualifForm"> 
        <div class="form-group">
          <label for="qualif" class="form-control-label">Qualification de la photo</label>
          <select #qualif formControlName="qualif" class="form-control">
            <option *ngFor="let item of qualifications"  value="{{item.cdRef}}">{{item.lbRef}}</option>
          </select>
        </div>
      </form>
      <div class="flex-btn">
          <button class="btn btn-secondary btn-modal" (click)="setQualifications(qualif.value)">
            Valider
          </button>
        </div>
  
    </div>
</ng-template>


<ng-template #helpModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div [innerHtml]=helpText.Text></div>
  </div>
</ng-template>

<div *ngIf="noPhotos" class="no-obs">
  <span class="icon-obsPasFaite"></span>
  <p style="font-size: 20px">Aucune observation n'est disponible</p>
</div>
