<ngx-spinner size="large" type="ball-grid-beat"></ngx-spinner>
<div *ngIf="photosLoaded" class="container-fluid">
  <div class="row ">
    <div *ngFor="let photo of photos" class=" col-lg-2 col-md-4 col-xs-6 thumb ">
      <div class="thumbnail" (click)="open(content,photo)">
        <div *ngIf="photo.isValidated=='true' && photo.isTreated=='true'" class="tag valid-tag">
          <span class="icon-cheked"></span>
        </div>
        <div *ngIf="photo.isValidated=='false' && photo.isTreated=='true'" class="tag invalid-tag">
          <span class="icon-refuse"></span>
        </div>
        <button *ngIf="photo.isTreated=='false'" class="btn btn-success btn-list" (click)="validatePhoto(photo.cdPhoto,idValidateur,'true')">
          <span class="icon-cheked"></span>
        </button>
        <button *ngIf="photo.isTreated=='false'" class="btn btn-danger btn-list btn-right" (click)="validatePhoto(photo.cdPhoto,idValidateur,'false')">
          <span class="icon-refuse"></span>
        </button>
        <div class="thumb-img " [style.background-image]="'url(' + photo.thumbnailFileUri + ')'"></div>
      </div>
    </div>

  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [pageSize]="nbItems" [(page)]="cuurentPage"
    (pageChange)="loadPage($event)"></ngb-pagination>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <img src="{{selectedPhoto.inpnFileUri}}">
  
  </div>

  <div class="modal-footer">
      <textarea class="form-control" placeholder="Veuillez laisser un commentaire..." rows="3"></textarea>
     
          <button class="btn btn-success  btn-valid" (click)="validatePhoto(selectedPhoto.cdPhoto,idValidateur,'true')">
              <span class="icon-cheked"></span>
            </button>
            <button class="btn btn-danger  btn-valid" (click)="validatePhoto(selectedPhoto.cdPhoto,idValidateur,'false')">
              <span class="icon-refuse"></span>
            </button>
    
      
   
  </div>
</ng-template>
