<ngx-spinner size="large" type="ball-grid-beat"></ngx-spinner>
<div *ngIf="obsLoaded" class="container-fluid">
  <div class="row">
    <div *ngFor="let item of observations.observations" class="col-lg-2 col-md-4 col-xs-6 thumb">
      <div class="card card-list ">
        <button class="btn btn-success btn-valid" (click)="validateObs(item.idData)">
          <span class="icon-cheked"></span>
        </button>
        <button class="btn btn-secondary btn-modify  btn-valid" (click)="open(content,item)">
          <span class="icon-pen"></span>
        </button>
        <div *ngIf="item.isTreated==true" class="tag valid-tag">
          <span class="icon-cheked"></span>
        </div>
        <img class="card-img-top-list" [style.background-image]="'url(' + item.principalPhoto.thumbnailFileUri+ ')'">
        <div class="card-body">
          <span class="{{item.gpSipmle.icons}} icon-gp"></span>
          <h5 class="card-title">{{item.gpSipmle.groupGrandPublic}}</h5>
          <p *ngIf="item.groupeOP" class="card-text">{{item.groupeOP.lbGroup}}</p>
          <div class="especeName" [innerHtml]=item.nomCompletHtml></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row  row-btn justify-content-center">
    <button type="button" class="btn btn-round next" (click)="getExtraObs()">
      Charger de nouvelles observations
    </button>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div *ngIf="loadForm" class="modal-body">
    <img class="card-img-top" src="{{selectedObs.principalPhoto.thumbnailFileUri}}" alt="Card image cap">
    <form class="container" [formGroup]="validationForm" (submit)="submit(validationForm); d('Cross click')">
      <div *ngFor="let row of listGroupeSimpleArray" class="row justify-content-center">
        <div *ngFor="let grpSimple of row">
          <button type="button" [ngClass]="grpSimple.selectedObs" class="btn btn-outline-secondary btn-circle" (click)="modifyGrpSimple(grpSimple)">
            <span class="{{grpSimple.icons}}"></span>
          </button>
        </div>
      </div>
      <div class="form-input">
        <div class="form-group ">
          <div class="gpSimpleLabel">{{selectedObs.gpSipmle.groupGrandPublic}}</div>
        </div>
        <div class="form-group">
          <label for="groupOP" class="form-control-label">Groupe taxonomique avancé</label>
          <select id="groupOP" formControlName="groupOP" class="form-control">
            <option *ngFor="let ggOP of listGroupOP" value="{{ggOP.cdGroup}}">{{ggOP.lbGroup}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="espece" class="form-control-label">Nom de l'espèce</label>
          <input formControlName="espece" class="form-control "  [ngbTypeahead]="search" [inputFormatter]="formatMatches"  [resultFormatter]="formatMatches" id="espece">
        </div>
      </div>
      <div class="btn-raw">
          <button type="submit"  class="btn btn-success btn-valid-modal">
            Valider
          </button>
        </div>
    </form>
    
  </div>
</ng-template>
