<app-header (user)="getUser($event)"></app-header>
<ul class="nav nav-pills ">
  <li class="nav-item">
    <a class="nav-link " [class.active]="isActive=='grid'" (click)="gridObs()">
      <span class="icon-grid"></span> Liste</a>
  </li>
  <div class="vline"></div>
  <li class="nav-item">
    <a class="nav-link" [class.active]="isActive=='maps'" (click)="mapObs()">
      <span class="icon-pin"></span> Carte</a>
  </li>
  <div class="vline"></div>
  <li *ngIf="isValidator" class="nav-item dropdown">
    <div ngbDropdown class="d-inline-block">
      <a class="nav-link" [class.active]="isActive=='validation'" id="dropdownBasic1" ngbDropdownToggle>
        <span class="icon-seen"></span>
        {{validationText}}
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngIf="photoSelect" class="dropdown-item" (click)="selectPhoto()">Photos</button>
        <button *ngIf="grpSimpleSelect" class="dropdown-item" (click)="selectGrpSimple()">Groupe simple</button>
        <button *ngIf="grpTaxoSelect" class="dropdown-item" (click)="selectGrpTaxo()">Groupe taxonomique</button>
        <button *ngIf="especeSelect" class="dropdown-item" (click)="selectEspece()">Espèce</button>
      </div>
    </div>
  </li>
  <li class="nav-item pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <a class="nav-link">
      <span class="icon-filter"></span> Filtres</a>
  </li>
</ul>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <app-filter (filter)="newFilter($event)"></app-filter>
  </div>
  <app-gallery-thumbnail *ngIf="selectedValidator == 'photo'"  [currentUser]="currentUser"></app-gallery-thumbnail>
  <app-validation *ngIf="selectedValidator == 'simple'" [filter]="filter" [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_GRSIMPLE'"></app-validation>
  <app-validation *ngIf="selectedValidator == 'taxo'" [filter]="filter" [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_GROPE'"></app-validation>
  <app-validation *ngIf="selectedValidator == 'espece'" [filter]="filter" [currentUser]="currentUser" [userRole]="'IE_VALIDATOR_EXPERT'"></app-validation>
<div *ngIf="showList" class="container-fluid">
  <app-obs-list [filter]="filter"></app-obs-list>
</div>
