.container-fluid {
  padding: 1% 5%;
  min-height: calc(100% - 459px);
}

.card {
  //cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.icon-gp {
  color: #49cf76;
  font-size: 34px;
  font-weight: 500
}

.card-body {

  text-align: center;
  h5 {
    font-size: 16px
  }
}

.card-img-top-list {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 1px
}


ngb-pagination {
  margin-top: 50px;
}

.no-obs {
  min-height: calc(100% - 459px);
  padding:10% 0;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center
}

.icon-obsPasFaite {
  font-size: 100px;
}

.especeName {
  font-size: 14px;
  color: #71cb7f;
  padding-bottom: 15px
}
.icon-more_on{
  color:white;
  font-size: 12px;
}
.invalidPhoto {
  object-fit: cover;
  width: 100%;
  height: 250px;
  opacity: 0.6
}
.carouselInvalid {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    font-size: 50px;
    color: red;
    opacity: 0.4
  }
}
.principalInvalid {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    font-size: 50px;
    color: red;
    opacity: 0.4
  }
}
 .detail{
  cursor: pointer;
  bottom: 6px;
  right: 6px;
 position: absolute;
 background-color: #999999;
 }
 
.avatar{
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  text-align: center;

}
.pseudo{
  display: inline-block; 
  font-size: 14px;
  padding-left : 4px;
  margin-bottom: 4px ;
  color: white;
}
.user{
  padding: 4px 8px;
  background-color: #999999;
}