/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/forms";
@import './assets/css/icomoon.css';
// import your own custom files, e.g.


@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?cp4g80');
  src: url('./assets/fonts/icomoon.eot?cp4g80#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.woff2?cp4g80') format('woff2'),
    url('./assets/fonts/icomoon.ttf?cp4g80') format('truetype'),
    url('./assets/fonts/icomoon.woff?cp4g80') format('woff'),
    url('./assets/fonts/icomoon.svg?cp4g80#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-help {
  cursor: pointer;
  color: #A9A9A9;
  font-size: 36px;
  font-weight: bold;
  padding-top: 24px;
  padding-right: 35px
}

.icon-help:hover {
  color: #6e6e6e;
}

.popover-class {
  font-size: 12px;
  max-width: 160px;
  text-align: center
}

// ######### leflet style ##########
.leaflet-popup-content {
  width: fit-content !important;
  margin: 0;

  p {
    margin: 1px 0
  }
}

.leaflet-popup-content-wrapper {
  padding: 0
}

.img-inner {
  width: 200px;
}

.img-popUp {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.leflet-container {
  padding: 10px;
}

.leflet-pop {
  display: flex;
  align-items: center;
}

.img-pop-leflet {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%
}

.pseudo-leflet {
  padding-left: 6px;
  font-size: 14px;
}

.leflet-list {
  padding: 5px 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.leflet-groupSimple {
  font-size: 14px;
  font-weight: 600;
}

.leflet-groupOP {
  font-size: 12px;
}

.leflet-espece {
  font-size: 12px;
  color: #71cb7f;
  padding-bottom: 15px
}

.icon-more_on {
  color: white;
}

.leflet-detail {
  cursor: pointer;
  bottom: 6px;
  right: 6px;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: 200;
  position: absolute;
  background-color: #999999;

}


// ######### leflet style ##########
html,
body {
  height: 100%;
}

#detailTab {

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: black;
    background-color: #fff;
    border-color: #d8d8d8 #d8d8d8 white;
    border-top-color: #28a745;
    background-color: white;
  }

  .nav-tabs {
    border-bottom: 1px solid #d8d8d8;
  }

  .nav-tabs .nav-link {
    color: #495057;
    border-style: solid;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
  }

  .tab-content {
    padding: 30px 60px;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
  }

}


.btn-success {
  background-color: #79c67a
}

.css-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: fit-content !important
    }
  }

  .modal-body {
    padding: 0
  }

  .modal-content {
    border: none !important
  }
}

.validate-modal {
  .modal-body {
    padding: 0
  }

  .modal-content {
    border: none !important
  }
}

.help-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      min-width: 560px
    }
  }

  .modal-body {
    padding: 20px 30px;
  }
}

.help {
  display: flex;
  justify-content: flex-end;
}

#photoValidation,
#simpleValidation,
#taxoValidation,
#especeValidation {
  color: #495057;

  &.active {
    border-top: 2px solid #28a745;
  }
}

ngb-pagination {
  a.page-link {
    color: #565758;
  }

  .page-item.active .page-link {
    color: #fff;
    background-color: #8e8e8e;
    border-color: #8e8e8e;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.1rem rgba(194, 194, 194, 1);
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%
}

.modal-footer {
  display: block;
}

*:focus {
  outline: 0 !important;
}
