<app-header></app-header>
<div class="inner">
    <div *ngIf="!userConnected" class="band-text">Pour commencer à valider les observations, connectez-vous !</div>     
    <login-modal *ngIf="!userConnected" [btnClass]=homeStyle class="btn connect" routerLinkActive="active"></login-modal>
    <img src="../assets/imgs/slider-hp.jpg" class="img-fluid" alt="">
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-sm ">
      <img class="picto" src="../assets/imgs/pictos-hp_INPN_promenez.png" alt="">
      <h1>Promenez vous</h1>
      <p>Quo cognito Constantius ultra mortalem modum exarsit
         idem quaedam saluti per itinera conaretur.</p>
    </div>
    <div class="col-sm">
      <img  class="picto" src="../assets/imgs/pictos-hp_INPN_observez.png" alt="">
      <h1>Observez des espèces</h1>
      <p>Quo cognito Constantius ultra mortalem modum exarsit
         idem quaedam saluti per itinera conaretur.</p>
    </div>
    <div class="col-sm">
      <img class="picto" src="../assets/imgs/pictos-hp_INPN_uploadez.png" alt="">
      <h1>Uploadez</h1>
      <p>Quo cognito Constantius ultra mortalem modum exarsit
         idem quaedam saluti per itinera conaretur.</p>
    </div>
    <div class="col-sm">
      <img class="picto" src="../assets/imgs/pictos-hp_INPN_devenez.png" alt="">
      <h1>Devenez expert naturaliste </h1>
      <p>Quo cognito Constantius ultra mortalem modum exarsit
         idem quaedam saluti per itinera conaretur.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
