<ngx-spinner size="large" type="ball-grid-beat"></ngx-spinner>
<app-header></app-header>
<div *ngIf="obsLoaded && textLoaded" class="inner">
  <div class="band-text">{{title}}</div>
  <img src="{{fold1Image}}" class="img-fluid" alt="">
</div>
<div *ngIf="obsLoaded && textLoaded" class="container-fluid ">
  <div class="row justify-content-around">
    <div class="col-sm-auto picto" routerLink="/observations/list">
      <img class="picto-icon" src="../assets/imgs/pictos-hp_INPN_observez.png" alt="">
      <h1>{{nbData}}</h1>
      <p>Observations</p>
    </div>
    <div class="col-sm-auto picto" routerLink="/observations/carte">
      <img class="picto-icon" src="../assets/imgs/pictos-hp_INPN_promenez.png" alt="">
      <h1>Carte </h1>
      <p>Interactive</p>
    </div>
    <div class="col-sm-auto picto" routerLink="/observateursList">
      <img class="picto-icon" src="../assets/imgs/picto_jumelle.png" alt="">
      <h1>{{nbUsers}}</h1>
      <p>Contributeurs</p>
    </div>
    <div class="col-sm-auto picto">
      <img class="picto-icon" src="../assets/imgs/pictos-hp_INPN_devenez.png" alt="">
      <h1>{{nbExperts}}</h1>
      <p>Experts</p>
    </div>
  </div>
  <div class="row fold2">
    <div class="col-lg fold2-img">
      <img src="{{fold2Image}}" class="img-fluid" alt="">
    </div>
    <div class="col-lg fold2-description">
      <h1>Contribuez à l'inventaire du patrimoine</h1>
      <div class="textHomePage" [innerHtml]=textHomePage></div>
    </div>
  </div>
  <div *ngIf="obsLoaded && textLoaded && !noObs" class="container-fluid observations">
    <div class="title">dernières observations ajoutées</div>
    <div class="row">
      <div *ngFor="let item of observations.observations" class="d-flex col-xl-3 col-lg-3 col-md-4 col-xs-6 thumb">
        <div class="card flex-fill">
          <div>
            <img class="card-img-top-list" src="{{item.principalPhoto.thumbnailFileUri}}" [routerLink]="['/observations/detail',item.idData]">
          </div>
          <div class="card-body">
            <span class="{{item.icon}} icon-gp"></span>
            <h5 class="card-title">{{item.lbGroupSimple}}</h5>
            <p class="card-text">{{item.lbGroupOP}}</p>
            <div class="especeName" [innerHtml]=item.nomCompletHtml>
            </div>
            <div class="badge badge-pill badge-secondary detail" [routerLink]="['/observations/detail',item.idData]">
              <span class="icon-more_on "></span></div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn obs-btn" routerLink="/observations/list">Voir plus d'observations</button>
  </div>
  <div *ngIf="obsLoaded  && textLoaded && !noObs" class="container-fluid observations">
    <div class="title">Classement des contributeurs</div>
    <div class="row user-block justify-content-around ">
      <div *ngFor="let user of users" class="col-auto">
        <div class="avatar" [style.background-image]="'url(' + user.avatarPath + ')'" [routerLink]="['/profil',user.idUtilisateur]"></div>
        <div class="pseudo" [routerLink]="['/profil',user.idUtilisateur]">{{user.pseudo}}</div>
        <div class="score">
          <a>{{user.score}} Points</a>
        </div>
      </div>
    </div>
    <button class="btn obs-btn" routerLink="/observateursList">Voir plus de contributeurs</button>
  </div>
  <div class="row mobile-fold">
    <div class="col-md inner-img">
      <img src="../assets/imgs/mobile.png" class="img-fluid mobile-img" alt="">
      <div class="mobile-desc">
        <h1>Téléchargez INPN Espèces gratuitement</h1>
        <p [innerHtml]=textUplaod></p>
        <div class="inner-store">
          <a href="https://play.google.com/store/apps/details?id=fr.mnhn.inpnespeces"> <img class="store-icon" src="../assets/imgs/googlestore.png"
              alt=""> </a>
          <a href="https://itunes.apple.com/fr/app/inpn-especes/id1111609919?l=fr&ls=1&mt=8"><img class="store-icon"
              src="../assets/imgs/applestore.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="obsLoaded && textLoaded"></app-footer>
