.inner{
   position: relative;
}
.col-sm{
    text-align: center;
    padding: 20px;
    padding-top: 60px
}
h1{
    color: #5b5b5b;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase
}
p{
    color: #5b5b5b;
}
.picto{
    padding-bottom: 30px
}
.band-text{
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    width: 100%;
    background-color: white;
    opacity: 0.6;
    padding: 18px;
    text-align: center;
    font-weight: 500;
}
.connect {
  position: absolute;
  left: 50%;
  bottom: 30%;
  z-index: 999;
  transform: translateX(-50%)
}
